@model IEnumerable<BikesTest.Models.Location>


@{
	ViewData["Title"] = "Index";
}
<div class="container">

	<h1>Index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					Latitude
				</th>
				<th>
					Longitude
				</th>
				<th>
					@Html.DisplayNameFor(model => model.dateTime)
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Id)
					</td>
					<td>
						@Html.DisplayFor(modelItem => (item.location))
					</td>
					<td>
						@Html.DisplayFor(modelItem => (item.location))
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.dateTime)
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>