@model BikesTest.Models.Reservation

@{
    ViewData["Title"] = "Confirm";
}

<h1>Confirm</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bicycle_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bicycle_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.customer_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.customer_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reservationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reservationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.expectedReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.expectedReturnDate)
        </dd>
    </dl>
    
    <form asp-action="Confirm">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Confirm" class="btn btn-success" />
    </form>
</div>
