@model IEnumerable<BikesTest.Models.CouponType>

@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.weeksToExpire)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pointsToRedeem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.value)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.weeksToExpire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pointsToRedeem)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="IndexDeleted">Deleted List</a>
