@model BikesTest.Models.Transaction

@{
	ViewData["Title"] = "Create";
	var customer = ViewBag.customer;
	var currentUserId = User.Identities.FirstOrDefault().FindFirst("Id").Value;
}
<div class="container">
	<h1>Create</h1>

	<h4>Transaction</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form method="post" asp-action="Create">
				@Html.AntiForgeryToken()
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="rentalDate" class="control-label"></label>
					@if (Model != null)
					{
						<input asp-for="rentalDate" class="form-control" />
					}
					else
					{
						<input asp-for="rentalDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm")" />
					}
					<span asp-validation-for="rentalDate" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="expectedReturnDate" class="control-label"></label>
					<input asp-for="expectedReturnDate" class="form-control" />
					<span asp-validation-for="returnDate" class="text-danger"></span>
				</div>

				<div class="form-group">
					@if (customer.user == null)
					{
						<label asp-for="customer_Id" class="control-label"></label>
						if (ViewBag.usernames != null)
						{
							<select asp-for="customer_Id" class="form-control">
								@for (int i = 0; i < ViewBag.usernames.Count; i++)
								{
									<option value="@Int32.Parse(ViewBag.usernames[i][1])">@ViewBag.usernames[i][0]</option>
								}
							</select>
						}
						else
						{
							<input asp-for="customer_Id" class="form-control" />
						}
						<span asp-validation-for="customer_Id" class="text-danger"></span>
					}
					else
					{
						<input asp-for="customer_Id" value="@customer.id" type="hidden" class="form-control" />
					}
				</div>
				<div class="form-group">
					@*<input hidden readonly asp-for="bicycle_Id" value="1" />*@

					<!-- chose either by bike or by type depending on who is logged in (admin -> by id / customer -> by type) -->

					<label asp-for="bicycleType_Id" class="control-label"></label>
					@if (ViewBag.bicycleTypes != null)
					{
						<select asp-for="bicycleType_Id" class="form-control">
							@foreach (var element in ViewBag.bicycleTypes)
							{
								<option value="@element.Key">@element.Value</option>
							}
						</select>
					}
					else
					{
						<input asp-for="bicycleType_Id" type="number" min="1" class="form-control" />
					}
					<span asp-validation-for="bicycleType_Id" class="text-danger"></span>
				</div>

				@if (customer.user != null)
				{
					<div class="form-group">
						<label asp-for="coupon_Id" class="control-label"></label>
						
						<select asp-for="coupon_Id" class="form-control">
							<option value="0">Select coupon</option>
							@if (customer.coupons != null)
							{
								@foreach (var coupon in customer.coupons)
								{
									<option value="@coupon.id">@coupon.value%   @coupon.expiringDate</option>
								}
							}
							else
							{
								<option>No coupons</option>
							}
						</select>
						
						<span asp-validation-for="coupon_Id" class="text-danger"></span>
					</div>
				}

				<div class="form-group">
					<input asp-for="admin_Id" type="hidden" min="1" value="@currentUserId" class="form-control" />
				</div>


				<div class="form-group">
					<a asp-action="Index"><input type="submit" value="Create" class="btn btn-primary" /></a>
				</div>
			</form>
		</div>
	</div>

	<div>
		<a asp-action="Index">Back to List</a>
	</div>

	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}
</div>