@model BikesTest.Models.SubscriptionPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Subscription</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.price)
		</dd>
		@if (Model.subscriptionDays.Any())
		{
			foreach (var item in Model.subscriptionDays)
			{
				<dt class="col-sm-2">
					@Html.DisplayName(item.day.ToString())
				</dt>
				<dd class="col-sm-10">
					@item.day
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayName(item.startTime.ToString())
				</dt>
				<dd class="col-sm-10">
					@item.startTime
				</dd>
				<dt class="col-sm-2">
					@Html.DisplayName(item.endTime.ToString())
				</dt>
				<dd class="col-sm-10">
					@item.endTime
				</dd>
			}
		}
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.isDeleted)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.isDeleted)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.isActive)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.isActive)
		</dd>
	</dl>
</div>
<div>
	@if (!Model.isActive)
	{
		<a asp-action="Activate" asp-route-id="@Model.id">Activate</a> <content>|</content>
	}
	else
	{
		<a asp-action="Disable" asp-route-id="@Model.id">Disable</a> <content>|</content>
	}

	@if (!Model.isDeleted)
	{
		<a asp-action="Delete" asp-route-id="@Model.id">Delete</a> <content>|</content>
	}

	<a asp-action="Index">Back to List</a>
</div>
